.article{
    border: 10px solid black;
    background-color: darkslateblue;
    margin: 15px 15px 15px;
    width: 700px;
    box-shadow: 10px 10px 10px coral;
}
.joy{
    color: azure;
    height: 1500px;
    background-color: aquamarine;
    background-image: url('wallpaperflare.com_wallpaper\ \(1\).jpg');
    background-size: cover ;
}