body{
    max-width: 1280px;
    margin: 0 auto;
}
.card-container{
    display: flex;
    gap: 30px;
}
.card{
    width: 300px;
    border: 3px solid saddlebrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
}
.card:hover{
    background-color: rgba(121, 202, 175, 0.943);
}
.card img{
    width: 100%;
    border-radius: 10px;
}